@import './variables.scss';
@import './styles/search.scss';
@import './styles/loader.scss';
@import './styles/results.scss';

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url('./assets/img/dark-vader.webp');
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: black;

  @media screen and (max-width: 768px) {
    background-image: url('./assets/img/vader.webp');
    background-size: auto 100vh;
  }
}

.shadow {
  box-shadow:
    $dark-blue 0px 30px 60px -12px inset,
    $dark-blue 0px 18px 36px -18px inset;
}

.error {
  margin: 40px;
  color: $yellow;
  font-size: large;
  height: 100%;
  text-align: center;
}
