@import './variables.scss';
@import './styles/search.scss';
@import './styles/searchResults.scss';
@import './styles/loader.scss';

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url('./assets/img/dark.png');
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: center top;
}

.shadow {
  box-shadow:
    $dark-blue 0px 30px 60px -12px inset,
    $dark-blue 0px 18px 36px -18px inset;
}
