.menu-cards {
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  position: fixed;
  padding: 20px 10px;
  bottom: 15px;
  z-index: 1;
  background-color: var(--dark-blue);
  border-radius: 100px;
  box-shadow: var(--dark-blue) 0px 0px 16px 6px;
  color: liner-gradient(30deg, var(--white), var(--dark-blue));

  @media screen and (max-width: 768px) {
    padding: 5px 10px;
    gap: 10px;
  }

  &-span {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(200deg, var(--dark-blue), var(--yellow));
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .button {
    padding: 10px 20px;

    &:hover {
      color: var(--yellow);
      box-shadow:
        var(--yellow) 0px 30px 60px -12px inset,
        var(--yellow) 0px 18px 36px -18px inset;
    }
  }
}
