$light-theme: (
  light-blue: #c3c3c3,
  dark-blue: #5cb0ff,
  black: #00a164,
  white: #cdf6ff,
  yellow: #e8e4e4,
);

$dark-theme: (
  light-blue: #000000,
  dark-blue: #b10000,
  black: #000000,
  white: #ffffff,
  yellow: #ffff00,
);

@mixin theme($theme-map) {
  @each $colors, $value in $theme-map {
    --#{$colors}: #{$value};
  }
}

.light {
  @include theme($light-theme);
}

.dark {
  @include theme($dark-theme);
}
