@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.app-results {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;

  @media screen and (max-width: 768px) {
    align-items: center;
    flex-direction: column-reverse;
  }
}

.results-films {
  display: none;
}

.results-container {
  width: 100%;
}

.details-page {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 10px 20px;
  width: 85%;
  color: var(--black);
  background-color: var(--yellow);
  border-radius: 20px;
  box-shadow:
    var(--dark-blue) 0px 30px 60px -12px inset,
    var(--dark-blue) 0px 18px 36px -18px inset;

  h1,
  h3 {
    font-family: 'Rubik Mono One', monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

  .vader {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 0 auto;
  }

  .cross {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
    transition: all 0.5s;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-image: url('./assets/svg/cross.svg');
    background-size: contain;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.button,
.error-button {
  background-color: var(--light-blue);
  color: var(--white);
  border-radius: 20px;
  padding: 5px 10px;
  font-family: 'Rubik Mono One', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.5s;
  border: none;
  text-decoration: none;

  &:hover {
    background-color: var(--dark-blue);
  }
}

.error-button {
  position: absolute;
  top: 95px;
  left: 25px;
  z-index: 0;
}

.pagination {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.link-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: var(--white);
  transition: all 0.5s;
  background-color: var(--yellow);
  box-shadow:
    var(--dark-blue) 0px 30px 60px -12px inset,
    var(--dark-blue) 0px 18px 36px -18px inset;
  border-radius: 5px;

  &:hover {
    box-shadow:
      var(--light-blue) 0px 30px 60px -12px inset,
      var(--light-blue) 0px 18px 36px -18px inset;
  }
}

.link-page-active {
  background-color: var(--dark-blue);
  box-shadow:
    var(--light-blue) 0px 30px 60px -12px inset,
    var(--light-blue) 0px 18px 36px -18px inset;
}

.results {
  border-top: 10px solid var(--dark-blue);
  border-bottom: 10px solid var(--dark-blue);
  border-left: 3px solid var(--dark-blue);
  border-right: 3px solid var(--dark-blue);
  border-radius: 20px;
  transition: all 0.5s;
  height: 70vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--dark-blue);
    box-shadow: var(--dark-blue) 0px 0px 5px 5px;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--black);
  }

  &-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-decoration: none;
  }

  &-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik Mono One', monospace;
    font-weight: 400;
    font-style: normal;
    background-color: var(--light-blue);
    border-radius: 30px;
    transition: all 0.5s;
    color: var(--white);

    .fighter {
      width: 130px;
      height: auto;
      object-fit: contain;
    }

    &:hover {
      box-shadow:
        var(--yellow) 0px 30px 60px -12px inset,
        var(--yellow) 0px 18px 36px -18px inset,
        var(--black) 0 0 10px 3px;
      color: var(--yellow);

      li {
        color: var(--yellow);
      }
    }
  }

  .checkbox-container {
    height: 40px;
    .checkbox-wrapper {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 60px;
      height: 30px;
      background-color: var(--black);
      cursor: pointer;
      border-radius: 100px;
      border: var(--dark-blue) 5px solid;
      display: flex;
      transition: all 1s;

      .round {
        transition: transform 0.3s;
        width: 30px;
        height: 30px;
        background-color: var(--dark-blue);
        cursor: pointer;
        border-radius: 100px;
      }

      .checkbox-input {
        display: none;
      }

      .checkbox-input:checked + .round {
        transform: translateX(30px);
        background-color: var(--yellow);
        background-image: url('./assets/svg/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60% 60%;
      }
    }
  }

  h3 {
    font-family: 'Rubik Mono One', monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: var(--black);
    -webkit-text-stroke: 0.5px var(--dark-blue);
  }

  li {
    font-size: 1em;
    font-family: 'Rubik Mono One', monospace;
    font-weight: 400;
    font-style: normal;
    color: var(--dark-blue);
  }

  h4 {
    font-family: 'Rubik Mono One', monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
